body{
    background-color : lightblue;
      padding: 0 500px;
      margin: 50;
      height: 70vh;
      justify-content: center;
      align-items: center;
}

.pink-background{
    background-color : pink;
}

.light-yellow{
    background-color : lightyellow;
}

#light-yellow{
    background-color : lightyellow;
}
